@using MoeKinoWebApp.Models;

@{
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model MovieParticipant

<form method="post" asp-action="CreatePOST">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create MovieParticipant</h2>
            <hr>
        </div>
        <div class="mb-3">
            <label asp-for="MovieID"></label>
            <input asp-for="MovieID" class="form-control" />
            <span asp-validation-for="MovieID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PersonID"></label>
            <input asp-for="PersonID" class="form-control" />
            <span asp-validation-for="PersonID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MovieParticipantCategoryID"></label>
            <input asp-for="MovieParticipantCategoryID" class="form-control" />
            <span asp-validation-for="MovieParticipantCategoryID" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="MovieParticipant" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}