@using MoeKinoWebApp.Models
@model LoginViewModel

@{
    Layout = "_LayoutAuth";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="border rounded p-4 bg-light shadow-sm" style="max-width: 400px;">
        <form asp-action="LoginPOST" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button data-i18n="login" type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
