@using MoeKinoWebApp.Models
@model RegisterViewModel

@{
    Layout = "_LayoutAuth";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="border rounded p-5 bg-light shadow-lg" style="max-width: 500px;">
        <form asp-action="LogoutPOST" method="post">
            <h2 class="mb-4 fs-4">Are you sure you want to logout?</h2>
            <button data-i18n="logout" type="submit" class="btn btn-danger w-100 btn-lg">Logout</button>
        </form>
    </div>
</div>



