@using MoeKinoWebApp.Models
@model RegisterViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="RegisterPOST" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button data-i18n="register" type="submit">Register</button>
</form>
