@using MoeKinoWebApp.Models;

@{
    Layout = "_Layout";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<MovieImage>

@{
    ViewData["Title"] = "Index";
}


<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">MovieImages List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MovieImage", asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New MovieImage
            </a>
        </div>
    </div>
</div>
<br>

<table class="table table-bordred table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Image
            </th>
            <th>
                Is Poster
            </th>
            <th>
                MovieId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="25%">
                    @obj.Id
                </td>
                <td width="25%">
                    <img src="data:image;base64,@Convert.ToBase64String(obj.Image)" alt="Movie Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td width="25%">
                    <input type="checkbox" disabled="disabled" @(obj.IsPoster ? "checked" : "") />
                </td>
                <td width="25%">
                    @obj.MovieId
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="MovieImage" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
